._root_layout {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 72px) !important;
  ._root_wrap_layout {
    width: 100%;
    height: 100%;
    display: flex;
  }
  @media only screen and (max-width: 990px) {
    ._root_wrap_layout {
      padding-left: 59px;
      flex-direction: column-reverse;
    }
  }
}
