@import "../../assets/style/variables";

._header_container {
  padding: 0 20px;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  ._wrap_a {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    ._logo {
      font-family: $main-font-style;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 3px;
    }
    ._wrap_btn {
      display: flex;
      gap: 15px;
      height: 100%;
      ._btn {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0 6px;
        height: 100%;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        font-weight: 500;
        color: #000000;
      }
      .btn_border {
        color: #51acfa;
        border-bottom: 2px solid #51acfa;
      }
    }
    @media only screen and (max-width: 680px) {
      ._wrap_btn {
        display: none;
      }
    }
  }
  ._wrap_b {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    ._wrap_add {
      position: relative;
      ._wrap_add_drop_menu {
        position: absolute;
        background: #ffffff;
        border: 1px solid #ececec;
        right: -8px;
        min-width: 150px;
        border-radius: 5px;
        margin: 8px;
        padding: 6px;
        box-shadow: 0 0px 10px 0 hsla(0, 0%, 0%, 0.051);
        //new style
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 100ms ease-in-out;
        ._w_a_d_m_btn {
          cursor: pointer;
          padding: 10px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          gap: 10px;
          &:hover {
            background: #f8f8f8;
          }
        }
      }
      ._w_a_d_m_active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
      }
      ._wrap_btn_add {
        user-select: none;
        cursor: pointer;
        color: #ffffff;
        background: #2176c0;
        border-radius: 5px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 40px;
        padding: 5px 10px 5px 10px;
        ._title_plus {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
    ._profile {
      position: relative;
      ._wrap_profile {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        img {
          height: 40px;
          width: 40px;
          border-radius: 4px;
        }
        ._arrow {
          display: flex;
          align-items: center;
        }
      }
      ._drop_menu {
        position: absolute;
        background: #ffffff;
        border: 1px solid #ececec;
        right: -8px;
        min-width: 270px;
        border-radius: 5px;
        margin: 8px;
        padding: 6px;
        box-shadow: 0 0px 10px 0 hsla(0, 0%, 0%, 0.051);
        //new style
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 100ms ease-in-out;
        ._wrap_mobile_menu {
          display: none;
          flex-direction: column;
        }
        @media only screen and (max-width: 680px) {
          ._wrap_mobile_menu {
            display: flex;
          }
        }
        ._line {
          border-bottom: 1px solid #ececec;
          margin: 5px 0;
        }
        ._wrap_inside_profile {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          background: #ececec;
          padding: 4px 6px;
          border-radius: 5px;
          min-height: 44px;
          img {
            height: 28px;
            border-radius: 5px;
          }
          ._email {
            font-size: 14px;
          }
        }
        ._btn {
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          gap: 10px;
          ._btn_icon {
            display: flex;
            align-items: center;
          }
          &:hover {
            background: #f8f8f8;
          }
        }
      }
      ._active_menu {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }
}
