._rn_container {
  padding: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 350px;
  ._schdules_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    ._sched_title {
      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 5px;
    }
    ._sched_container {
      display: flex;
      flex-direction: column;
      ._wrap_sched_events {
        padding: 10px;
        display: flex;
        flex-direction: row;
        ._event_title_date {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #f1f1f1;
          padding: 5px 0;
          min-width: 30px;
          max-width: 30px;
          min-height: 45px;
          max-height: 45px;
          border-radius: 5px;
          ._event_title_day {
            font-size: 16px;
            font-weight: 500;
          }
          ._event_title_month {
            font-size: 12px;
          }
        }
        ._wrap_event_title {
          min-width: 0;
          padding: 0 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          ._event_title {
            font-size: 14px;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          ._full_date {
            font-size: 12px;
            font-weight: 500;
            color: #818181;
          }
        }
      }
    }
  }
  ._comments_container {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-bottom: 10px;
    ._empty_coms {
      padding: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #b9b9b9;
      text-align: center;
    }
    ._comments_container_title {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
    }
    ._wrap_comment {
      padding: 5px;
      cursor: pointer;
      ._comment_title {
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
        ._title_tag {
          font-size: 12px;
          color: #ffffff;
          padding: 2px 4px;
          border-radius: 5px;
          background: #51acfa;
        }
        ._title_desc {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  ._rn_container {
    border: none;
    min-width: calc(100vw - 59px) !important;
  }
}
